---
layout: default
---
<div class="bg_wrap index_header">
    <svg class="bg"></svg>
    <div class="block_wrap header">
        <div class="inner_block header">
            <h1 class="logo"><a href="/">d.vision</a></h1>
        </div>
    </div>
</div>
<div class="block_wrap about">
    <div class="inner_block about">
        <h2>about</h2>
        <p class="readable">
            <span>D.VISION is an web development company based in Seoul, Korea.</span>
        </p>
    </div>
</div>
<div class="block_wrap portfolio">
    <div class="inner_block portfolio">
        <div class="h_wrap"><a href="/portfolio/">
            <h2>Portfolio</h2>
            <span class="more">view more</span>
        </a></div>
        <ul class="portfolios cards">
            {% for page in site.tags.main %}{% include pf_card.html %}{% endfor %}
            <li><a href="/test.html">[DEMO] html5 video</a></li>
        </ul>
    </div>
</div>
<div class="block_wrap contact">
    <div class="inner_block contact">
        <h2 id="contact">Contact us</h2>
        <a href="mailto:{{ site.email }}" class="email">{{ site.email }}</a>
    </div>
</div>
{% include footer.html %}
<script src="/assets/d3.v4.min.js"></script>
<script src="/assets/index.js"></script>