@import "vars";

.pane {
  margin: 0 auto;
  max-width: 800px;
}

.company-pane {
  text-align: center;
  margin: 15em auto;
  .company-name {
    color: $strong-txt-color;
    font-size: 1.2em;
    letter-spacing: 0.1em;
    font-family: "Roboto Slab", serif;
  }
}

.contact-pane {
  text-align: center;
  padding: 5em 0;
  border: $border;

  .contact {
    display: inline-block;
    font-family: "Source Code Pro", monospace;
    font-weight: 400;
    color: $strong-txt-color;
  }
}

.tags-pane {
  text-align: center;
}

.about-pane {
  text-align: center;
  margin: 1rem auto;
}

.list-pane {
  margin: 10em auto;
  h2 {
    margin-bottom: 2em;
    letter-spacing: 0.5em;
    color: $strong-txt-color;
  }
  & > ul {
    & > li {
      margin-bottom: 2.5em;
    }
    & > li:last-child {
      margin-bottom: 0;
    }
    & > li .title {
      color: $point-gold-color;
      margin-bottom: 0.5em;
    }
  }
}

.copyright-pane {
  text-align: center;
  margin: 5em auto;

  .copyright {
    text-transform: capitalize;
    color: $light-txt-color;
    font-size: 0.8em;
  }
  .company-name {
    text-transform: uppercase;
  }
  .biz-info {
    display: flex;
    justify-content: center;
    color: $lighter-txt-color;
    font-size: 0.75em;

    li:not(:last-child) {
      margin-right: 0.5em;
    }

    .label {
      color: #bbb;
    }
  }
}

p.description {
  text-align: left;
  word-break: keep-all;
  .about-pane & {
    text-align: center;
  }
}

.tag {
  font-size: 0.85em;
  &:before {
    content: '#';
    margin-right: 1px;
  }

  margin-right: 0.5em;
  &:last-child {margin-right: 0;}
}

